<!DOCTYPE html>
<html>
<head>
	<title><?= title ?></title>
	

	<!-- JS -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="js/autosize.js" ></script>
	<!-- <script type="text/javascript" src="js/gridster.js" ></script> -->
	
	<!-- CSS -->
	<link rel='stylesheet' href='/css/bootstrap.min.css'/>
	<!-- <link rel='stylesheet' href='/css/gridster.css'/> -->
	<link rel='stylesheet' href='/css/style.css'/>

</head>
<body>
<div class="wrapper">